---
title: Alex static site
page_name: "Tjänster"
caption: "Tjänster"
---

<!-- This page is an overview of "tjänster" -->

<div class="welcome">
  <h1><%= data.page.caption %></h1>
  <p><%= lorem.sentences 32 %></p>
  <h2 id="hosting">Hosting</h1>
  <p><%= lorem.sentences 32 %></p>

  <p class="doc">
    <%= link_to "alxhall.se", "http://alxhall.se/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
