---
title: "Alex static site"
caption: "Välkommen"
---

<div class="welcome">
  <h1><%= data.page.caption %></h1>
  <p><%= lorem.sentences 32 %></p>
  <p class="doc">
    <%= link_to "alxhall.se", "http://alxhall.se/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
